# .gitignore

# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3

# Entornos virtuales
venv/
venv_django/
env/

# Archivos de Django (generados)
/staticfiles/
/media/

# Archivo de secretos (¡MUY IMPORTANTE!)
.env
.env.*

# Node.js / React
node_modules/
build/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de Sistema Operativo
.DS_Store